body {
    @extend %Inter-400;
    font-size: 14px;
    line-height: 16px;
    color: $text;
    background-color: $default;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    @extend %Lighthaus-400;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 48px;
    color: $title;
}

.btn {
    display: block;
    width: 255px;
    height: 50px;
    border: none;
    font-size: 16px;
    line-height: 27px;
    color: $text;
    background-color: $title;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 1s;
    &:hover {
        border-radius: 3px;
        background: center no-repeat url("../images/gradient.jpg");
        color: $default;
    }
}

.input {
    width: 255px;
    height: 50px;
    margin-bottom: 35px;
    margin-left: 30px;
    text-align: center;
    border: none;
    background-color: #fff;
    color: #000;
    opacity: 20%;
    transition: all 0.5s;
    &:hover {
        opacity: 80%;
    }
    &:focus {
        box-shadow: 0 0 15px $title;
    }
}

.form__body {
    position: relative;
    padding: 10px;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(34, 34, 32, 0.1) center / 120px no-repeat url("../images/icons/loader.gif");
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
    }
}
.form__body._sending::after {
    opacity: 1;
    visibility: visible;
}

._error input {
    box-shadow: 0 0 15px red;
}

.link-btn {
    padding-right: 15px;
    &::after {
        content: "";
        position: absolute;
        bottom: 3px;
        right: 0;
        width: 8px;
        height: 8px;
        background: no-repeat url(../images/icons/down-chevron.png);
    }
    &:hover {
        opacity: 60%;
    }
}

.logo {
    z-index: 1;
    margin-right: 40px;
    &__img {
        max-width: 200px;
    }
}

// breadcrumbs-------------------------------------------

.breadcrumbs {
    padding-top: 40px;
    margin-bottom: 30px;
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        padding-right: 30px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            background-image: url("../images/icons/slash.png");
            width: 24px;
            height: 24px;
            top: -4px;
            right: 4px;
        }
        &:last-child {
            .breadcrumbs__link {
                color: $title;
            }
            &::after {
                display: none;
            }
        }
    }
    &__link {
        font-size: 18px;
        font-weight: 600;
        color: $text;
    }
}

.gallery-slider,
.reviews-slider,
.info-slider {
    position: relative;
    .slick-dots {
        display: flex;
        justify-content: center;
        font-size: 0;
        margin: 45px 0;
    }
    .slick-dots button {
        width: 12px;
        height: 12px;
        border: none;
        background-color: #fff;
        cursor: pointer;
    }
    .slick-active button {
        background: linear-gradient(92.09deg, #5e3928 -79.4%, #d4c17f 84.12%);
    }
    .slick-dots li + li {
        margin-left: 10px;
    }
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    z-index: 5;
}
.popup:target {
    opacity: 1;
    visibility: visible;
}
.popup:target .popup__content {
    opacity: 1;
    transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}
.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup__content {
    max-width: 100vh;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all 0.8s;
    width: 48px;
    height: 48px;
    background: center no-repeat url(../images/close.png);
}
.popup__close:hover {
    transform: rotateY(180deg);
}
.popup__img {
    max-height: 100vh;
}

@keyframes animate_grow {
    0% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes bounce-2 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateX(0);
    }
}
