// ____________1050px____________________

@media (max-width: 1050px) {
    .gallery {
        &__item {
            max-width: 400px;
        }
        &__item-img {
            max-width: 400px;
        }
    }
}

// ____________950px____________________

@media (max-width: 950px) {
    .benefits {
        &::after {
            width: 100%;
        }
        &__item {
            margin: 10px 0 90px;
        }
        &__item-img {
            width: 60px;
            margin-bottom: 30px;
        }
        &__item-text {
            font-size: 16px;
        }
    }

    .enroll {
        &__inner {
            flex-direction: column;
        }
        &__inner-text {
            margin-bottom: 30px;
        }
        &__form-input {
            margin-left: 0;
            margin-right: 30px;
        }
        &__form-text {
            margin-left: 0;
            margin-right: 30px;
        }
        &__form-btn {
            margin-left: 0;
        }
    }

    .video {
        &::after {
            width: 100%;
            height: 100%;
        }
        &__popup {
            width: 100%;
        }
    }

    .questions {
        &::after {
            width: 100%;
            height: 400px;
        }
    }

    .contact {
        &__iframe {
            display: none;
        }
        &__form {
            flex-direction: column;
            align-items: center;
        }
    }

    .gallery-slider {
        &__item,
        &__item-img {
            max-width: 100%;
        }
    }
}

// ____________850px____________________

@media (max-width: 850px) {
    .header {
        .menu {
            margin: 0;
            &__list {
                transform: translateY(-2000px);
                position: absolute;
                top: 0;
                left: 0;
                width: 300px;
                height: 100vh;
                align-items: center;
                flex-direction: column;
                justify-content: normal;
                margin: 0;
                z-index: 5;
                transition: all 0.3s;
                &.menu__list--active {
                    max-height: 100vh;
                    align-items: flex-start;
                    transform: translateY(0px);
                    background-color: $default;
                    transition: all 0.3s;
                    .menu__list-item {
                        margin-bottom: 30px;
                        margin-left: 50px;
                        &:first-child {
                            margin-top: 50px;
                        }
                    }
                    .menu__list-link {
                        color: #fff;
                        margin-bottom: 50px;
                        &:hover {
                            color: $title;
                            border-bottom: 1px solid $title;
                        }
                    }
                }
            }
            &__btn {
                margin-bottom: 30px;
                margin-top: 20px;
                width: 40px;
                height: 20px;
                border: none;
                background-color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                padding: 0;
                z-index: 10;
                cursor: pointer;
                span {
                    width: 22px;
                    height: 3px;
                    border-radius: 5px;
                    background-color: $title;
                    top: 10px;
                    transition: all 0.3s;
                }
                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    width: 22px;
                    height: 3px;
                    border-radius: 5px;
                    background-color: $title;
                    transition: all 0.3s;
                }
                &::before {
                    top: 0;
                }
                &::after {
                    bottom: 0;
                }
            }
        }
        .menu--open {
            .menu__btn {
                &::before {
                    transform: rotate(45deg);
                    top: 9px;
                    background-color: $title;
                }
                &::after {
                    transform: rotate(-45deg);
                    top: 9px;
                    background-color: $title;
                }
                span {
                    transform: scale(0);
                    background-color: $title;
                }
            }
        }
    }

    .top {
        &__content-title {
            padding-top: 230px;
            padding-bottom: 230px;
        }
        &__img {
            height: 100%;
        }
        &__video {
            height: 100%;
        }
    }

    .benefits {
        &__list {
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__item {
            max-width: none;
            width: 225px;
            margin: 10px 0 40px;
        }
    }

    .gallery {
        .gallery-slider {
            &__item {
                max-width: none;
            }
            &__item-img {
                max-width: auto;
                min-height: auto;
                width: 90%;
                height: 350px;
            }
        }
    }

    .contact {
        &__form-box {
            margin: 30px auto;
        }
        &__top-item {
            padding: 40px 10px 40px;
        }
        &__top-item:hover {
            padding: 40px 10px 40px;
        }
        &__top-text {
            font-size: 14px;
            line-height: 22px;
        }
        &__textbox {
            justify-content: space-between;
        }
        &__input {
            margin-right: 15px;
            margin-bottom: 15px;
        }
        &__input-tel {
            input {
                margin-right: 0;
            }
        }
        &__form {
            margin-bottom: 60px;
        }
    }
}

// ____________700px____________________

@media (max-width: 700px) {
    .benefits {
        &__item {
            max-width: 175px;
        }
    }

    .price {
        .price-top__top-text {
            display: flex;
            flex-direction: column;
            font-size: 14px;
        }
        .price-list__item-textPrice {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .price-list__item-text {
            max-width: 300px;
        }
    }

    .footer {
        &__inner {
            flex-direction: column;
        }
    }
}

// ____________650px____________________

@media (max-width: 650px) {
    .top {
        &__content-title {
            margin: 0 auto;
            max-width: 355px;
            font-size: 32px;
        }
        &__content-link {
            font-size: 16px;
        }
    }

    .enroll {
        &__form {
            display: flex;
            flex-direction: column;
            min-width: auto;
        }
    }

    .info {
        &__item-title {
            font-size: 22px;
            max-width: 320px;
        }
    }

    .contact {
        &__top {
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }
        &__top-img {
            margin-bottom: 20px;
        }
        &__top-title {
            font-size: 18px;
            margin-bottom: 10px;
        }
        &__textbox {
            flex-direction: column;
        }
        &__top-item {
            width: 100%;
            padding: 20px 10px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__top-item:hover {
            padding: 20px 10px 20px;
        }
        &__input {
            margin-right: 0;
            width: 100%;
            text-align: start;
            padding: 0 30px;
        }
        &__form {
            margin-bottom: 120px;
        }
        &__form-box {
            width: 100%;
        }
    }

    .reviews {
        &::after {
            width: 100%;
        }
    }
    .reviews-feedback {
        &__form {
            display: flex;
            flex-direction: column;
        }
        &__form-box {
            display: flex;
            flex-direction: column;
        }
        &__form-input {
            margin-left: 0;
            width: 100%;
            margin-bottom: 20px;
            text-align: start;
            padding: 0 30px;
        }
    }
}

// ____________500px____________________

@media (max-width: 500px) {
    .top {
        &__content-title {
            padding-top: 150px;
            padding-bottom: 100px;
            max-width: 300px;
            line-height: 30px;
            font-size: 22px;
        }
        &__content-contact {
            flex-direction: column;
            align-items: center;
        }
        &__content-link {
            margin-top: -25px;
            margin-bottom: 0;
            padding-bottom: 40px;
        }
    }
    .video {
        &__popup {
            height: 320px;
        }
        &__link-btn {
            width: 80px;
        }
    }

    .timer {
        max-width: 280px;
        &__num {
            font-size: 70px;
            line-height: 80px;
        }
    }

    .questions {
        &__link-img {
            width: 50px;
            height: 50px;
        }
    }

    .map {
        margin-bottom: 50px;
        &__iframe {
            max-height: 320px;
        }
    }
}

// ____________450px____________________

@media (max-width: 450px) {
    .title {
        margin-bottom: 30px;
        font-size: 25px;
        line-height: 32px;
    }

    .breadcrumbs__link {
        font-size: 15px;
    }

    .gallery {
        .gallery-slider {
            &__item {
                max-width: none;
                width: 250px;
            }
            &__item-img {
                max-width: auto;
                min-height: auto;
                width: 90%;
                height: 250px;
            }
        }
    }

    .benefits {
        &__item {
            max-width: 135px;
            padding: 0;
        }
        &__item-text {
            max-width: 120px;
            font-size: 14px;
        }
    }

    .enroll {
        &__form-input,
        &__form-text {
            margin-right: 0;
        }
    }

    .reviews {
        &__title-link {
            font-size: 18px;
        }
        .reviews-slider__item {
            margin: 15px 0;
            max-width: 100%;
            &:hover {
                transform: scale(1);
            }
        }
    }

    .all-reviews__inner {
        .reviews-slider__item {
            width: 100%;
        }
    }

    .price {
        .price-list__item-text {
            max-width: 200px;
        }
    }

    .footer {
        &__inner-box {
            flex-direction: column;
        }
        &__box {
            margin-bottom: 20px;
        }
    }
}
