$default: #242B33;
$title: #D4C17F;
$text: #fff;
$btn: #D4C17F;


%Inter-700 {
    font-family: "Inter-Bold";
    font-weight: 700;
  }
  
  %Inter-500 {
    font-family: "Inter-Medium";
    font-weight: 500;
  }
  
  %Inter-400 {
    font-family: "Inter-Regular";
    font-weight: 400;
  }

  %Lighthaus-400 {
    font-family: "Lighthaus";
    font-weight: 400;
  }
