@import "vars";
@import "fonts";
@import "libs";
@import "reset";
@import "global";

.header {
    margin: 20px 0 20px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu {
        z-index: 1;
        &__list {
            display: flex;
        }
        &__list-item {
            margin-right: 40px;
            &:last-child {
                margin-right: 0;
            }
        }
        &__list-link {
            color: $text;
            padding-bottom: 3px;
            transition: all 0.5s;
            &:hover {
                color: $title;
                border-bottom: 1px solid $title;
            }
        }
        &__btn {
            display: none;
        }
    }
}

.top {
    &__wrapper {
        margin-top: -80px;
        background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 88%);
        position: relative;
        // &::after {
        //     content: "";
        //     position: absolute;
        //     bottom: 0;
        //     right: 0;
        //     width: 100%;
        //     height: 838px;
        //     z-index: -1;
        //     opacity: 20%;
        //     background: no-repeat center url("../images/bg-gif.mp4");
        //     background-size: 150%;
        // }
    }
    &__img {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 800px;
        margin: 0 auto;
        object-fit: cover;
    }
    &__video {
        width: 100%;
        height: 838px;
        object-fit:cover;
        position: absolute;
        z-index: -1;
        opacity: 20%;
    }
    &__content-inner {
        max-width: 670px;
        margin: 0 auto;
    }
    &__content-title {
        @extend %Lighthaus-400;
        padding-top: 387px;
        padding-bottom: 355px;
        text-align: center;
        font-size: 42px;
        line-height: 48px;
        color: $title;
        text-transform: uppercase;
    }
    &__content-contact {
        display: flex;
        justify-content: space-between;
    }
    &__content-link {
        margin-top: -60px;
        margin-bottom: 100px;
        font-size: 18px;
        line-height: 21px;
        color: $text;
        transition: all 0.5s;
        &:hover {
            color: $title;
        }
    }
    .content-link__nav {
        padding-left: 40px;
        position: relative;
        transition: all 0.5s;
        &::after {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            top: -3px;
            left: 10px;
            background: no-repeat center url("../images/icons/nav.png");
            transition: all 0.5s;
        }
        &:hover::after {
            background: no-repeat center url("../images/icons/nav-hov.png");
        }
    }
    .content-link__phone {
        padding-left: 40px;
        position: relative;
        transition: all 0.5s;
        &::after {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            top: -3px;
            left: 10px;
            background: no-repeat center url("../images/icons/phone-call.png");
            transition: all 0.5s;
        }
        &:hover::after {
            background: no-repeat center url("../images/icons/phone-call-hov.png");
        }
    }
}

.benefits {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 900px;
        height: 400px;
        z-index: -1;
        opacity: 20%;
        background: no-repeat center url("../images/bg.png");
        background-size: 65%;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &__item {
        margin: 70px 0 90px;
        max-width: 175px;
        padding: 0 15px;
    }
    &__item-img {
        width: 80px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    &__item-text {
        font-size: 18px;
        line-height: 20px;
    }
}

.gallery {
    padding-bottom: 50px;
    .gallery-slider {
        &__item {
            max-width: 500px;
            max-height: 320px;
            margin: 0 15px;
        }
        &__item-img {
            margin-left: 15px;
            // max-width: 535px;
            width: 100%;
            height: 320px;
            object-fit: cover;
            opacity: 80%;
            transition: all 0.5s;
        }
    }
}

.enroll {
    margin-bottom: 50px;
    &__title {
        margin-bottom: 50px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__inner-text {
        max-width: 500px;
    }
    &__form {
        min-width: 600px;
    }
    &__form-text {
        margin: -15px 0 30px 30px;
        font-size: 12px;
        display: inline-block;
        width: 255px;
    }
    &__form-btn {
        margin-left: 30px;
        display: inline-block;
    }
}

.video {
    margin-bottom: 50px;
    &__title {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -36%;
            width: 100%;
            height: 400px;
            z-index: -1;
            opacity: 20%;
            background: no-repeat center url("../images/bg2.png");
            background-size: 48%;
        }
    }
    &__popup {
        margin: 0 auto;
        width: 720px;
        height: 450px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 70%;
    }
    &__link-btn {
        margin: 0 auto;
        width: 100px;
        cursor: pointer;
        opacity: 90%;
        transition: all 0.5s;
        &:hover {
            transform: scale(1.05);
        }
    }
}

.info {
    margin-bottom: 50px;
    &__item-image {
        position: relative;
    }
    &__item-img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        opacity: 60%;
        margin-bottom: 20px;
        object-position: center;
    }
    &__item-title {
        position: absolute;
        bottom: 25px;
        left: 30px;
        width: auto;
        font-size: 26px;
        line-height: 30px;
        color: $text;
    }
    &__item-date {
        position: absolute;
        top: 0;
        right: 0;
        padding: 9px 13px;
        font-size: 18px;
        line-height: 17px;
        color: $text;
        background-color: $title;
    }
    &__item-text {
        margin-bottom: 15px;
        line-height: 20px;
        span {
            font-size: 18px;
            color: red;
        }
    }
    &__item-link {
        color: $title;
        position: relative;
    }
    &__item-textTitle {
        color: $title;
        font-size: 18px;
    }
}
.info-detalis {
    &__item {
        margin-bottom: 50px;
    }
    &__img {
        max-height: 800px;
    }
}

.reviews {
    margin-bottom: 50px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 900px;
        height: 400px;
        z-index: -1;
        opacity: 20%;
        background: no-repeat center url("../images/bg2.png");
        background-size: 40%;
    }
    &__title-box {
        display: flex;
        justify-content: space-between;
    }
    &__title-link {
        font-size: 20px;
        color: $text;
        transition: all 0.5s;
        &:hover {
            color: $title;
        }
    }
    .reviews-slider {
        &__item {
            margin: 15px 10px;
            max-width: 321px;
            max-height: auto;
            min-height: 320px;
            width: 100%;
            padding: 50px 30px;
            border: 1px solid $title;
            border-radius: 3px;
            text-align: center;
            transition: all 0.5s;
            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }
        }
        &__item-title {
            @extend %Inter-700;
            font-size: 26px;
            color: $title;
            margin-bottom: 15px;
        }
        &__item-date {
            color: $title;
            margin-bottom: 20px;
        }
        &__item-content {
            font-size: 15px;
            line-height: 19px;
            color: $title;
            opacity: 70%;
        }
        &__item-add {
            padding: 50px 0;
            max-width: 128px;
            margin: 0 auto;
        }
    }
}
.all-reviews__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.reviews-feedback {
    max-width: 544px;
    &__form-input {
        &:first-child {
            margin-left: 0;
        }
    }
    &__form-textarea {
        max-width: 544px;
        width: 100%;
        height: 200px;
        padding: 20px;
        margin-bottom: 30px;
        opacity: 20%;
        resize: none;
        transition: all 0.5s;
        &:hover {
            opacity: 80%;
        }
    }
}

.promotion {
    margin-bottom: 100px;
    &__link {
        display: block;
        margin: 0 auto;
        max-width: 215px;
        padding: 15px 30px 15px 5px;
        text-align: center;
        margin-bottom: 50px;
        font-size: 25px;
        color: $title;
        @extend %Lighthaus-400;
        border: 1px solid $title;
        position: relative;
        transition: all 0.5s;
        animation: animate_grow 1s infinite, pulse 1s infinite;
        &::after {
            content: "";
            position: absolute;
            top: 9px;
            right: 10px;
            width: 24px;
            height: 24px;
            background: center no-repeat url(../images/icons/tel.png);
        }
        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
    }
}

.timer {
    max-width: 370px;
    margin: 0 auto;
    margin-bottom: 50px;
    &__title {
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        text-align: center;
        color: $title;
        margin-bottom: 30px;
    }
    &__inner {
        text-align: center;
    }
    &__num {
        width: 380px;
        @extend %Lighthaus-400;
        font-size: 100px;
        line-height: 100px;
        padding: 10px;
        margin-left: -10px;
        font-weight: 800;
        background: center url("../images/time.gif");
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__off {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        font-size: 40px;
        font-weight: 600;
        color: red;
        text-align: center;
    }
}

.map {
    margin-bottom: 100px;
    &__iframe {
        opacity: 60%;
        position: relative;
        overflow: hidden;
        transition: all 0.5s;
        &:hover {
            opacity: 90%;
        }
    }
}

.questions {
    margin-bottom: 80px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 900px;
        height: 400px;
        z-index: -1;
        opacity: 20%;
        background: no-repeat center url("../images/bg3.png");
        background-size: 60%;
    }
    &__inner {
        display: flex;
        justify-content: space-around;
    }
    &__item {
        border-radius: 50%;
        animation: animate_grow 1s infinite, pulse 1s infinite;
        transition: all 0.5s;
        &:hover {
            animation: none;
            transform: scale(1.2);
            box-shadow: 0 0 20px $title;
            border-radius: 35%;
        }
    }
    &__link-img {
        width: 64px;
        height: 64px;
        padding: 5px;
    }
}

.contact {
    &__top {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
        margin-top: 30px;
    }
    &__top-item {
        width: 375px;
        text-align: center;
        margin-right: 30px;
        border: 3px solid transparent;
        padding: 70px 30px 75px;
        transition: all 0.5s;
    }
    &__top-item:hover {
        border: 3px solid $title;
        padding: 70px 30px 75px;
        .contact__top-img {
            background-color: $title;
            path {
                fill: rgb(255, 255, 255);
            }
        }
    }
    &__top-img {
        width: 80px;
        height: 80px;
        margin-bottom: 65px;
        border: 1px solid transparent;
        border-radius: 20px;
        background-color: $text;
        padding: 16px 20px;
        animation: animate_grow 1s infinite, pulse 1s infinite;
    }
    &__top-address {
        padding: 16px 23px;
    }
    &__top-title {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 25px;
    }
    &__top-text {
        font-size: 16px;
        line-height: 30px;
        font-weight: 600;
        color: $text;
        transition: all 0.3s;
        &:hover {
            font-size: 18px;
            color: $title;
        }
    }
    &__form {
        display: flex;
        justify-content: space-between;
        margin-bottom: 75px;
        max-height: 370px;
    }
    &__form-box {
        max-width: 544px;
        margin-bottom: 45px;
        margin-right: 30px;
    }
    &__iframe {
        width: 500px;
        opacity: 60%;
        transition: all 0.5s;
        &:hover {
            opacity: 90%;
        }
    }
    &__textbox {
        display: flex;
    }
    &__input {
        margin-left: 0;
        font-size: 18px;
        font-weight: 600;
        margin-right: 35px;
    }
    &__textarea {
        width: 100%;
        height: 200px;
        padding: 20px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 35px;
        opacity: 20%;
        resize: none;
        transition: all 0.5s;
        &:hover {
            opacity: 80%;
        }
    }
}

.price {
    .price-top {
        margin-bottom: 50px;
        &__top-text {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 10px;
        }
        &__top-Link {
            font-size: 16px;
            color: $text;
            transition: all 0.3s;
            &:hover {
                color: $title;
            }
        }
    }

    .price-list {
        &__item {
            display: flex;
            justify-content: space-between;
            padding: 15px 0 15px;
            border-bottom: 1px solid $text;
            &:last-child {
                border-bottom: none;
            }
        }
        &__item-textPrice {
        }
    }

    &__title {
        text-align: center;
    }
    &__item-box {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid $title;
    }
    .price-list {
        display: none;
    }
    .menu--active {
        display: block;
    }
    .price__item-btn--active {
        transform: rotate(180deg);
    }
    &__item-btn {
        border: none;
        width: 32px;
        height: 32px;
        cursor: pointer;
        background: no-repeat 100% / 100% url("../images/icons/dropdown.png");
        transition: all 0.3s;
    }
    &__item-title {
        @extend %Lighthaus-400;
        color: $title;
        font-size: 22px;
        line-height: 26px;
        text-transform: uppercase;
    }
}

.about-us {
    &__box-text {
        margin-bottom: 50px;
    }
    &__box-img {
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    &__text {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    &__img-cert {
        max-width: 800px;
        width: 100%;
        object-fit: cover;
    }
    &__box-popup{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin: 30px auto;
    }
    &__item {
        max-width: 600px;
        width: 100%;
    }
    &__img-studio {
        max-width: 600px;
        width: 100%;
        object-fit: cover;
    }
    &__item-link {
        background-color: rgba(0, 0, 0, 0);
    }
}

.footer {
    padding-top: 60px;
    padding-bottom: 50px;
    background: #2d343c;
    position: relative;
    .help {
        position: fixed;
        right: 50px;
        bottom: 50px;
        z-index: 5;
        border-radius: 50%;
        padding: 10px;
        animation: animate_grow 1s infinite, pulse 1s infinite;
        &__img {
            width: 40px;
        }
    }
    .logo {
        margin-bottom: 30px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__inner-box {
        display: flex;
        justify-content: space-between;
        max-width: 600px;
        width: 100%;
    }
    &__box {
        padding-right: 50px;
    }
    &__box-item {
        margin-bottom: 15px;
    }
    &__box-link {
        font-size: 14px;
        line-height: 16px;
        color: $text;
        transition: all 0.5s;
        &:hover {
            color: $title;
            border-bottom: 1px solid $title;
        }
    }
    &__social {
        display: flex;
    }
    &__social-link {
        margin-right: 20px;
    }
    &__social-img {
        max-width: 28px;
        opacity: 60%;
        transition: all 0.5s;
        &:hover {
            opacity: 100%;
        }
    }
    &__btn {
        padding: 16px 30px 16px 27px;
        position: absolute;
        cursor: pointer;
        top: 20px;
        right: 20px;
        z-index: 5;
        color: $title;
        font-size: 20px;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-name: bounce-2;
        animation-timing-function: ease;
        &::after {
            content: "";
            position: absolute;
            width: 32px;
            height: 32px;
            top: 14px;
            left: -5px;
            background: no-repeat center url("../images/icons/up.png");
        }
    }
}

@import "media";
